.row {
    :deep(.el-menu--horizontal) {
        border-bottom: none;
    }

    .center-for-creators {
        width: 180px;
    }
    .left{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .middle {
        display: flex;
        height: 100%;
        align-items: center;

        .info {
            display: flex;
            height: 100%;
            align-items: center;
            margin-left: 30px;
        }
        .icon {
            margin-right: 10px;
            width: 26px;
            height: 24px;
            color: #18191C;
            margin: 0 0 0 0px;
        }

    }
}