.overall {
    text-align: center;
  
    .principal {
      .form-box {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .cover-uploader {
          padding-right: 30px;
  
          .cover {
            width: 230px;
            height: 140px;
            display: block;
          }
  
          :deep(.el-upload) {
            border: 1px dashed #8c939d;
            border-radius: 2rem;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: var(--el-transition-duration-fast);
          }
  
          .el-upload:hover {
            border-color: var(--el-color-primary);
          }
  
          .el-icon.cover-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 230px;
            height: 140px;
            text-align: center;
          }
        }
  
        .form-show {
          padding-left: 30px;
          border-left: 1px dashed #8c939d;
  
          :deep(.el-input__wrapper) {
            border-radius: 30px;
          }
          :deep(.el-textarea__inner){
            border-radius: 8px;
          }
  
          .copy {
            margin-left: 3rem;
          }
        }
      }
  
      .bottom-box {
        padding-top: 30px;
  
        .text {
          font-size: 12px;
          color: $color-gray-text ;
        }
  
        .button {
  
          margin-top: 30px;
        }
      }
  
    }
  
  }