/* Error: Undefined variable.
 *     ,
 * 128 |                                 background-color: $color-theme;
 *     |                                                   ^^^^^^^^^^^^
 *     '
 *   video.scss 128:51  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 128 \2502                                  background-color: $color-theme;\d\a     \2502                                                    ^^^^^^^^^^^^\a     \2575 \a   video.scss 128:51  root stylesheet";
}
