.comment-box {
    margin: 0px 0px 10px 20px;
    text-align: start;
    overflow: scroll;

    .comment-item {
        margin-right: 20px;
        border-bottom: 1px solid #e7e7e7;
        display: flex;
        align-items: center;
        height: 120px;

        .item-left {
            display: flex;
            width: 60%;
            text-align: start;

            .avatar {
                margin-right: 20px;
            }

            .info {
                height: 60px;
                line-height: 27px;
                width: 100%;
                font-size: 14px;

                .top{
                    display: flex;
                    .username {
                        margin-bottom: 6px;
                        margin-right: 16px;
                        color: #757575;
                        font-weight: 100;   
                    }

                    .time {
                        font-size: 12px;
                        color: #757575;
                    }
                }
              

                .comment-text {
                    display: flex;
                    margin-bottom: 6px;
                    color: #0f0f0f;
                    
                    .comment-content{
                        max-width: 20%;
                    }

                    :deep(.vue-ellipsis-native){
                        max-width: 80%;
                    }

                    :deep(.vue-ellipsis){
                        width: 80%;
                    }
                }

               

            }
        }

        .item-right {
            width: 40%;
            text-align: end;

            .video-info {
                max-width: 170px;
                float: right;

                :deep(.el-image) {
                    width: 170px;
                    height: 90px;
                    border-radius: 6px;
                    overflow: hidden;
                }

                .title {
                    text-align: end;
                    font-size: 12px;
                    color: #757575;
                }
            }
        }
    }
    .load-more{
        height: 8%;
        width: 100%; 
    }
    .spread-bottom {
        height: 4%;
        width: 100%;
    }
}