/* Error: Undefined variable.
 *    ,
 * 52 |           color: $color-gray-text ;
 *    |                  ^^^^^^^^^^^^^^^^
 *    '
 *   pictureSetting.scss 52:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 52 \2502            color: $color-gray-text ;\d\a    \2502                   ^^^^^^^^^^^^^^^^\a    \2575 \a   pictureSetting.scss 52:18  root stylesheet";
}
