.info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .avatar-box {
        margin-right: 30px;

        .avatar {
            text-decoration: none;
            display: flex;
        }

    }

    .user-selection {
        text-align: center;

        .selection-item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 8px;
            width: 100%;
        }

        .mt {
            margin-top: 16px;
        }

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 6px;
        }


    }

    :deep(.el-popover) {
        min-width: 120px;
    }

    .login {
        margin-right: 30px;
        background-color: $color-theme;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: aliceblue;
    }

    .icon-list {
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        :deep(.el-badge__content) {
            right: 15px;
        }

        .icon-item {
            text-align: center;
            font-size: 12px;
            margin-left: 12px;
            margin-right: 12px;

            .icon {
                width: 21px;
                height: 20px;
                color: #18191C;
                margin: 0 0 0 0px;
            }

            p {
                padding: 0;
                margin: 0;
            }
        }
    }


    .dialog {
        .steps {

            padding-top: 30px;

            .steps-left {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 24px;
                }

                .copy {
                    margin-left: 24px;
                }
            }

            :deep(.el-col) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
}